{% extends "base.html" %}

{% block content %}
  <h1>{{ product.name }}</h1>
  <p><strong>Категория:</strong> {{ product.category.name }}</p>
  <p><strong>Название:</strong> {{ product.name }}</p>
  <p><strong>Описание:</strong> {{ product.description }}</p>
  <p><strong>Цена:</strong> {{ product.price }}</p>

    <h4>Наличие товара:</h4>
    <p>{{ product.warehouse.count }}</p>
    {% if product.warehouse.count > 0 %}
        <form action={{ product.get_absolute_url_for_order }} method="post">
        {% csrf_token %}
        <input type="submit" class="btn" value="Купить" name="BuyBtn">
        </form>
     {% else %}
        <input type="submit" class="btn" value="Покупка невозможна" name="BuyBtn2">
    {% endif %}
{% endblock %}